:root {
    --text: #300548;
    --background: #fef5fe;
    --primary: #f6ccff;
    --secondary: #ffe072;
    --accent: #ffb117;
    --primary-shade: #c943e7;
    --text-dim: #3f2b4a;
}

html {
    background-color: var(--background);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: var(--text);
    scrollbar-gutter: stable;
}

body {
    margin: 0;
}

p {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.description {
    color: var(--text-dim);
}

header {
    display: flex;
    width: 100%;
    color: var(--text);
    font-size: 1.25rem;
    align-items: center;
    * {
        flex-grow: 1;
        padding: 10px 15px;
    }
    *:hover {
        background-color: var(--secondary);
    }
}

.cards {
    display: block;
    padding: 5px 60px;
}

.cards > * {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--primary);
}

.cards > *:hover {
    background-color: var(--primary-shade);
    .description, .title {
        color: var(--background);
    }
}

img {
    max-width: 150px;
    height: auto;
}

.title {
    font-size: 1.6em;
}

@media (min-width: 400px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 730px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}