:root {
    --azure-web: #eafdf8ff;
    --antiflash-white: #e5e9ecff;
    --thistle: #ddcad9ff;
    --pink-lavender: #d1b1cbff;
    --electric-purple: #af45edff;
    --dark: rgb(31, 4, 47);
}

html {
    background-color: var(--electric-purple);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 10px;
    padding: 5px;
    color: var(--dark);
}

header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 5px;
    background-color: var(--dark);
    color: var(--thistle);
    padding: 10px;
}

header > * {
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: block;
    padding: 10px;
}

.cards > * {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--thistle);
}

img {
    max-width: 150px;
    height: auto;
}

.title {
    font-size: 1.2rem;
}

.light-back {
    background-color: #e5e9ecff;
}

.dark-text {
    color: #af45edff;
}

.light-text {
    color: #e5e9ecff;
}

@media (min-width: 400px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 730px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    header {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(5, 1fr);
    }
}

/*
    --azure-web: #eafdf8ff;
    --antiflash-white: ;
    --thistle: #ddcad9ff;
    --pink-lavender: #d1b1cbff;
    --electric-purple: ;
*/