:root {
    --azure-web: #eafdf8ff;
    --antiflash-white: #e5e9ecff;
    --thistle: #ddcad9ff;
    --pink-lavender: #d1b1cbff;
    --electric-purple: #af45edff;
    --dark: rgb(31, 4, 47);
}

html {
    background-color: var(--electric-purple);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 10px;
    padding: 10px;
    color: var(--dark);
}

header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--dark);
    color: var(--thistle);
    padding: 10px;
}

header > * {
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: grid;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.cards:nth-child(5) {
    grid-column: span 2;
}

.cards > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--thistle);
}

img {
    max-width: 150px;
    height: auto;
}

.title {
    font-size: 1.2rem;
}

.light-back {
    background-color: #e5e9ecff;
}

.dark-text {
    color: #af45edff;
}

.light-text {
    color: #e5e9ecff;
}

/*
    --azure-web: #eafdf8ff;
    --antiflash-white: ;
    --thistle: #ddcad9ff;
    --pink-lavender: #d1b1cbff;
    --electric-purple: ;
*/